# Virtual Environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Python virtualenv directories anywhere
*/env/
*/venv/
*/.venv/

# Conda environments
conda-env/
.conda/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Logs
*.log

# Pretrained
pretrained/best_model-v3.pt
pretrained/efficientnet-b0-ffpp-c23.pt
pretrained/model_97_acc_100_frames_FF_data.pt
pretrained/vit_deepfake_model