# Virtual Environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Python virtualenv directories anywhere
*/env/
*/venv/
*/.venv/

# Conda environments
conda-env/
.conda/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Logs
*.log